.footer {
  padding: 50px 10px 0;
  margin-top: 100px;
  background-color: #dedede;
}

.footer-col img {
  width: 230px;
  margin-bottom: 20px;
}

.footer-col p {
  color: #555555;
  line-height: 1.9rem;
  font-size: 2rem;
}

.social-media {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.social-media a i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--primary-color);
  color: var(--white-color-1);
  font-size: 2.5rem;
}

.social-media a i:hover {
  background: var(--background-color);
  color: var(--white-color-1);
  transition: all 0.3s ease;
}

.footer-col h5 {
  color: #333333;
  font-size: 2.4rem;
  margin-bottom: 10px;
  font-weight: var(--font-weight-light-bold);
}

.footer-col .list-unstyled li a {
  color: #555555;
  font-size: 2rem;
  line-height: 2.5rem;
  display: block;
  margin-bottom: 10px;
}

.footer-col .list-unstyled li {
  color: #555555;
  font-size: 2rem;
  line-height: 2.5rem;
  display: block;
  margin-bottom: 10px;
}

.footer-col .list-unstyled li a:hover {
  color: var(--accent-color);
}

.footer-col .box a {
  display: block;
  color: #555555;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-col .box a:hover {
  color: var(--accent-color);
}

.bottom-bar-row {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.bottom-bar p,
h4 {
  color: #ffffff;
  font-size: 1.8rem;
}

.bottom-bar p a {
  color: #ffffff;
  text-decoration: none;
}

.bottom-bar p a:hover {
  color: var(--accent-color);
}

.bottom-bar .box {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  flex-wrap: wrap;
}

.bottom-bar .box .a {
  font-size: 1.8rem;
  color: var(--white-color-1);
  cursor: default;
  text-decoration: none;
}

.bottom-bar .box .a:hover {
  color: var(--white-color-1);
}

.bottom-bar .box a {
  font-size: 1.8rem;
  color: var(--white-color-1);
  text-decoration: none;
}

.bottom-bar .box a:hover {
  text-decoration: underline !important;
}
