/* CSS Variables */
:root {
  --primary-color: #0a2342;
  --white-color-1: #ffffff;
  --white-color-2: #efefef;
  --white-color-3: #dedede;
  --black-color-1: #000;
  --black-color-2: #2c2c2c;
  --body-background-color: #f5f5f5;
  --gray-color: gray;
  --accent-color: #f47c20;
  --font-color: #333333;
  --background-color: rgb(0, 119, 255);
  /* Font Weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-light-bold: 600;
  --font-weight-bold: 700;
  /* transitions */
  --transition: all 0.3s ease-in-out;
}
